<div class="d-flex justify-content-center mt-5">
  <div class="col-3">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
      </div>

      <label for="email">Email:</label>
      <input
        formControlName="email"
        id="email"
        type="text"
        class="form-control"
      />
      <label for="password">Password:</label>
      <input
        formControlName="password"
        id="password"
        type="text"
        class="form-control"
      />

      <button
        [disabled]="loginForm.invalid"
        class="btn btn-lg btn-primary btn-block"
        type="submit"
      >
        Sign in
      </button>
    </form>
  </div>
</div>
